<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero List</title>
</head>
<body>
    <h1>
        <%= heroes.title %>
    </h1>

    <table>
        <tr>
            <td>id</td>
            <td>nama</td>
            <td>role</td>
            <td>action</td>
        </tr>

        <% for (let i = 0; i < heroes.data.length; i++) { %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= heroes.data[i].name %></td>
                <td><%= heroes.data[i].role %></td>
                <td>
                    <form action="/hero/delete" method="post">
                        <a href="/hero/<%= heroes.data[i].id %>">ubah</a>

                        <input type="text" hidden value="<%= heroes.data[i].id %>" name="id">
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
        <% } %>
    </table>

    <br><hr><br>
    <h4>Tambah Hero</h4>
    <form method="post" action="/hero/add">
        <input type="text" name="name" id="name">
        <input type="text" name="role" id="role">
        <input type="submit" value="Tambah">
    </form>
</body>
</html>